<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h2>Login Page</h2>

    <div class="formContainer">
        <form id="authForm" action="{{ url_for('loginPage') }}" method="POST">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" required>
    
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
    
            <p>Don't have an account? <a href="{{ url_for('signupPage') }}">SignUp</a></p>
    
            <input type="submit" value="Login" id="loginBtn">
        </form>
    </div>


    <a href="{{ url_for('landingPage') }}">Home Page</a>
</body>
</html>